.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input {
  padding: 20px;
  cursor: pointer;
  border: 0.7px solid var(--color-primary-1);
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-black);
  outline: none;
}

.form button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--color-primary-1);
  color: var(--color-white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.formControl {
  display: flex;
  gap: 10px;
}
