.container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.title {
  font-size: 4rem;
}

.description {
  font-size: 20px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary-2);
  color: var(--color-white);
  font-weight: 600;
}

.button:first-child {
  background-color: var(--color-secondary-1);
  color: var(--color-black);
}

.brands {
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 600px; /* Increase the height for a larger image */
  max-width: 100%;
}

.heroImg {
  width: 100px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 54px;
  }

  .brands {
    width: 100%;
    margin: 0 auto;
  }

  .buttons {
    justify-content: center;
  }
}
